/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

{
    margin-bottom: 15px;
}

{
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 1000px;

}

.navigation a {
    padding-left: 30px;
}

.navigation{
    display: incline-block;
    vertical-align: middle;
    margin-left: 25%;
    margin-right: 25%;
    word-spacing: 45px;
    line-height: 25px;
}

#navbar {
    vertical-align: middle;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0;
    height: 50px;
    width: 100%;
}
#navlogo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 80%;
    position: relative;
    bottom: 25px;
}

/* Nav Code ends here*/ 

#action {
    margin-top: 80px;
    margin-bottom: 30px;
}

#innovate {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

#title {
    text-align: center;
    font-size: 60px;
    vertical-align: middle;
}

#square {
    border-radius: 20px;
    height: 25px;
}

#square:hover {
    color: skyblue;
    background-color: white;
}

#innovateimg {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    padding-left: 50px;
}

/* Action complete, starting wrap code */

.upper-wrap{
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

#feats, #About {
    display: inline-block;
    width: 30%;
    margin-left: 100px;
    margin-bottom: 15px;
}

.middle-img {
    text-align: center;
    width: 100%;
}
/* Upper wrap complete, start lower wrap*/

.lowwrap{
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

#services, #product, #vision{
    display: inline-block;
    width: 30%;
    margin-bottom: 20px;
    margin-top: 15px;
} 
/* lowwrap completed, beginning legal area*/

#legal {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 85px;
}